In [51]:
import pandas as pd
import gc

## • read the fines.csv that you saved in the previous exercise

In [52]:
df = pd.read_csv('../data/fines.csv')
df

        CarNumber  Refund    Fines    Make    Model  Year
0    Y163O8161RUS       2   3200.0    Ford    Focus  1989
1     E432XX77RUS       1   6500.0  Toyota    Camry  1995
2     7184TT36RUS       1   2100.0    Ford    Focus  1984
3    X582HE161RUS       2   2000.0    Ford    Focus  2015
4    92918M178RUS       1   5700.0    Ford    Focus  2014
..            ...     ...      ...     ...      ...   ...
925  Y163O8000RUS       2    344.0    Ford    Focus  1234
926  M103O8161RUS       1   5454.0    Lada   Kalina  1943
927  Y163O8787RUS       1   4345.0    Lada     Niva  1894
928  Y163O0061RUS       2   4343.0    Lada    Vesta  2003
929  Y103O0161RUS       1  23324.0    Ford  Mustang  2004

[930 rows x 6 columns]

## • iterations: in all the following subtasks, you need to calculate fines/refund*year for each row and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell

◦ loop: write a function that iterates through the dataframe using for i in range(0, len(df)), iloc and append() to a list, assign the result of the function to a new column in the dataframe

In [53]:
def loop_iloc():
    data = []
    for i in range(0, len(df)):
        data.append((df.iloc[i, 2] / df.iloc[i, 1]) * df.iloc[i, 5])
    return data

In [54]:
%%timeit
loop_iloc()

43.3 ms ± 1.21 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [55]:
df['Calculation'] = loop_iloc()
df

        CarNumber  Refund    Fines    Make    Model  Year  Calculation
0    Y163O8161RUS       2   3200.0    Ford    Focus  1989    3182400.0
1     E432XX77RUS       1   6500.0  Toyota    Camry  1995   12967500.0
2     7184TT36RUS       1   2100.0    Ford    Focus  1984    4166400.0
3    X582HE161RUS       2   2000.0    Ford    Focus  2015    2015000.0
4    92918M178RUS       1   5700.0    Ford    Focus  2014   11479800.0
..            ...     ...      ...     ...      ...   ...          ...
925  Y163O8000RUS       2    344.0    Ford    Focus  1234     212248.0
926  M103O8161RUS       1   5454.0    Lada   Kalina  1943   10597122.0
927  Y163O8787RUS       1   4345.0    Lada     Niva  1894    8229430.0
928  Y163O0061RUS       2   4343.0    Lada    Vesta  2003    4349514.5
929  Y103O0161RUS       1  23324.0    Ford  Mustang  2004   46741296.0

[930 rows x 7 columns]

◦ do it using iterrows()

In [56]:
def iterrows_calc():
    data = []
    for index, row in df.iterrows():
        data.append((row['Fines'] / row['Refund']) * row['Year'])
    return data

In [57]:
%%timeit
iterrows_calc()

35.5 ms ± 1.73 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [58]:
df['Calculation'] = iterrows_calc()
df

        CarNumber  Refund    Fines    Make    Model  Year  Calculation
0    Y163O8161RUS       2   3200.0    Ford    Focus  1989    3182400.0
1     E432XX77RUS       1   6500.0  Toyota    Camry  1995   12967500.0
2     7184TT36RUS       1   2100.0    Ford    Focus  1984    4166400.0
3    X582HE161RUS       2   2000.0    Ford    Focus  2015    2015000.0
4    92918M178RUS       1   5700.0    Ford    Focus  2014   11479800.0
..            ...     ...      ...     ...      ...   ...          ...
925  Y163O8000RUS       2    344.0    Ford    Focus  1234     212248.0
926  M103O8161RUS       1   5454.0    Lada   Kalina  1943   10597122.0
927  Y163O8787RUS       1   4345.0    Lada     Niva  1894    8229430.0
928  Y163O0061RUS       2   4343.0    Lada    Vesta  2003    4349514.5
929  Y103O0161RUS       1  23324.0    Ford  Mustang  2004   46741296.0

[930 rows x 7 columns]

◦ do it using apply() and lambda function

In [59]:
%%timeit
df['Calculation'] = df.apply(lambda row: row['Year'] * row['Fines'] / row['Refund'], axis=1)

17 ms ± 2.74 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [60]:
df

        CarNumber  Refund    Fines    Make    Model  Year  Calculation
0    Y163O8161RUS       2   3200.0    Ford    Focus  1989    3182400.0
1     E432XX77RUS       1   6500.0  Toyota    Camry  1995   12967500.0
2     7184TT36RUS       1   2100.0    Ford    Focus  1984    4166400.0
3    X582HE161RUS       2   2000.0    Ford    Focus  2015    2015000.0
4    92918M178RUS       1   5700.0    Ford    Focus  2014   11479800.0
..            ...     ...      ...     ...      ...   ...          ...
925  Y163O8000RUS       2    344.0    Ford    Focus  1234     212248.0
926  M103O8161RUS       1   5454.0    Lada   Kalina  1943   10597122.0
927  Y163O8787RUS       1   4345.0    Lada     Niva  1894    8229430.0
928  Y163O0061RUS       2   4343.0    Lada    Vesta  2003    4349514.5
929  Y103O0161RUS       1  23324.0    Ford  Mustang  2004   46741296.0

[930 rows x 7 columns]

◦ do it using Series objects from the dataframe

In [61]:
%%timeit
df['Calculation'] = (df['Fines'] / df['Refund']) * df['Year']

340 µs ± 24.7 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [62]:
df

        CarNumber  Refund    Fines    Make    Model  Year  Calculation
0    Y163O8161RUS       2   3200.0    Ford    Focus  1989    3182400.0
1     E432XX77RUS       1   6500.0  Toyota    Camry  1995   12967500.0
2     7184TT36RUS       1   2100.0    Ford    Focus  1984    4166400.0
3    X582HE161RUS       2   2000.0    Ford    Focus  2015    2015000.0
4    92918M178RUS       1   5700.0    Ford    Focus  2014   11479800.0
..            ...     ...      ...     ...      ...   ...          ...
925  Y163O8000RUS       2    344.0    Ford    Focus  1234     212248.0
926  M103O8161RUS       1   5454.0    Lada   Kalina  1943   10597122.0
927  Y163O8787RUS       1   4345.0    Lada     Niva  1894    8229430.0
928  Y163O0061RUS       2   4343.0    Lada    Vesta  2003    4349514.5
929  Y103O0161RUS       1  23324.0    Ford  Mustang  2004   46741296.0

[930 rows x 7 columns]

◦ do it as in the previous subtask but with the method .values

In [63]:
%%timeit
df['Calculation'] = (df['Fines'].values / df['Refund'].values) * df['Year'].values

143 µs ± 14.1 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [64]:
df

        CarNumber  Refund    Fines    Make    Model  Year  Calculation
0    Y163O8161RUS       2   3200.0    Ford    Focus  1989    3182400.0
1     E432XX77RUS       1   6500.0  Toyota    Camry  1995   12967500.0
2     7184TT36RUS       1   2100.0    Ford    Focus  1984    4166400.0
3    X582HE161RUS       2   2000.0    Ford    Focus  2015    2015000.0
4    92918M178RUS       1   5700.0    Ford    Focus  2014   11479800.0
..            ...     ...      ...     ...      ...   ...          ...
925  Y163O8000RUS       2    344.0    Ford    Focus  1234     212248.0
926  M103O8161RUS       1   5454.0    Lada   Kalina  1943   10597122.0
927  Y163O8787RUS       1   4345.0    Lada     Niva  1894    8229430.0
928  Y163O0061RUS       2   4343.0    Lada    Vesta  2003    4349514.5
929  Y103O0161RUS       1  23324.0    Ford  Mustang  2004   46741296.0

[930 rows x 7 columns]

## • indexing: measure the time using the magic command %%timeit in the cell
◦ get a row for a specific CarNumber, for example, ’O136HO197RUS’

In [65]:
%%timeit
df.loc[df['CarNumber'] == '7184TT36RUS']

267 µs ± 30.4 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

◦ set the index in your dataframe with CarNumber

In [66]:
%%timeit
if df.index.name != 'CarNumber':
    df.set_index('CarNumber', inplace=True)

170 ns ± 11.3 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

◦ again, get a row for the same CarNumber

In [67]:
%%timeit
df.loc[df.index == '7184TT36RUS']

190 µs ± 17 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

## • downcasting:

◦ run df.info(memory_usage=’deep’), pay attention to the Dtype and the memory usage

In [68]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to Y103O0161RUS
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Refund       930 non-null    int64
 1   Fines        930 non-null    float64
 2   Make         930 non-null    object
 3   Model        919 non-null    object
 4   Year         930 non-null    int64
 5   Calculation  930 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 203.7 KB

◦ make a copy() of your initial dataframe into another dataframe optimized

In [69]:
optimized = df.copy()

◦ downcast from float64 to float32 for all the columns

In [70]:
fcols = optimized.select_dtypes('float').columns
optimized[fcols] = optimized[fcols].apply(pd.to_numeric, downcast='float')
optimized.info()

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to Y103O0161RUS
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Refund       930 non-null    int64
 1   Fines        930 non-null    float32
 2   Make         930 non-null    object
 3   Model        919 non-null    object
 4   Year         930 non-null    int64
 5   Calculation  930 non-null    float32
dtypes: float32(2), int64(2), object(2)
memory usage: 43.6+ KB

◦ downcast from int64 to the smallest numerical dtype possible

In [71]:
icols = optimized.select_dtypes('integer').columns
optimized[icols] = optimized[icols].apply(pd.to_numeric, downcast='integer')
optimized.info()

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to Y103O0161RUS
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Refund       930 non-null    int8
 1   Fines        930 non-null    float32
 2   Make         930 non-null    object
 3   Model        919 non-null    object
 4   Year         930 non-null    int16
 5   Calculation  930 non-null    float32
dtypes: float32(2), int16(1), int8(1), object(2)
memory usage: 31.8+ KB

◦ run info(memory_usage=’deep’) for your new dataframe, pay attention to the Dtype and the memory usage

In [72]:
optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to Y103O0161RUS
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Refund       930 non-null    int8
 1   Fines        930 non-null    float32
 2   Make         930 non-null    object
 3   Model        919 non-null    object
 4   Year         930 non-null    int16
 5   Calculation  930 non-null    float32
dtypes: float32(2), int16(1), int8(1), object(2)
memory usage: 184.6 KB

## • categories:
◦ change the object type columns to the type category

In [73]:
obtype = optimized.select_dtypes('object').columns
optimized[obtype] = optimized[obtype].astype('category')

◦ This time, check the memory usage, it probably has a decrease of 2-3 times compared to the initial dataframe

In [74]:
optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to Y103O0161RUS
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Refund       930 non-null    int8
 1   Fines        930 non-null    float32
 2   Make         930 non-null    category
 3   Model        919 non-null    category
 4   Year         930 non-null    int16
 5   Calculation  930 non-null    float32
dtypes: category(2), float32(2), int16(1), int8(1)
memory usage: 76.4 KB

## • memory clean
◦ using %reset_selective and the library gc clean the memory of your initial dataframe only

In [75]:
%reset_selective -f df
gc.collect()

486