In [43]:
import pandas as pd

## create a dataframe views with two columns: datetime and user by reading feed-views.log
◦ convert the datetime to the datetime64[ns] Dtype

In [1]:
df = pd.read_csv('../data/feed-views.log', header=None, names=['datetime', 'user'], sep='\t', parse_dates=["datetime"])

NameError: name 'pd' is not defined

◦ extract the year, month, day, hour, minute, and second from the values of that column to the new columns

In [45]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
 2   year      1076 non-null   int64
 3   month     1076 non-null   int64
 4   day       1076 non-null   int64
 5   hour      1076 non-null   int64
 6   minute    1076 non-null   int64
 7   second    1076 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 67.4+ KB

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

## • create the new column daytime
◦ you need to assign the particular time of day value if an hour is within a particular interval, for example, afternoon if the hour is larger than 11 and less or equal to 17
◦ 0.00 – 03.59 night, 04.00 – 06.59 early morning, 07.00 – 10.59 morning, 11.00 – 16.59 afternoon, 17.00 – 19.59 early evening, 20.00 – 23.59 evening
◦ use the method cut to solve this subtask

In [46]:
labels = ["night", "early morning", "morning", "afternoon", "early evening", "evening"]
interval = [0, 3, 6, 10, 16, 19, 24]
df['daytime'] = pd.cut(x=df['hour'], bins=interval, labels=labels, include_lowest=True)

◦ assign the column user as the index

In [47]:
df.set_index('user', inplace=True)
df

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

## • calculate the number of elements in your dataframe

◦ use the method count()

In [48]:
print(df.count().to_string())

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076

◦ calculate the number of elements in each time of day category using the method value_counts()

In [49]:
print(df.value_counts('daytime').to_string())

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5

## • sort values in your dataframe by hour, minute, and second in ascending order (simultaneously and not one by one)

In [50]:
df.sort_values(['hour', 'minute', 'second'], inplace=True, ascending= [True, True, True])
df

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

## • calculate the minimum and maximum for the hours and the mode for the daytime categories

◦ calculate the maximum of hour for the rows where the time of day is night

In [51]:
max_night = df[lambda x: x['daytime'] == 'night']['hour'].max()
print('Max of hour at night:', max_night)

Max of hour at night: 3

◦ calculate the minimum of hour for the rows where the time of day is morning

In [52]:
min_morning = df[lambda x: x['daytime'] == 'morning']['hour'].min()
print('Min of hour at morning:', min_morning)

Min of hour at morning: 8

◦ In addition to this, find out who visited the page at those hours (make oneexample from that)

In [53]:
print('At', min_morning, 'and', max_night, 'hours page visited: ')
print(df[lambda x: (x['hour'] == max_night) | (x['hour'] == min_morning)].index.unique().values)

At 8 and 3 hours page visited:
['konstantin' 'alexander']

◦ calculate the mode for the hour and daytime

In [54]:
print('Mode for daytime:', df['daytime'].mode()[0])
print('\nMode for hour:', df['hour'].mode()[0])

Mode for daytime: evening

Mode for hour: 22

## • show the 3 earliest hours in the morning and the corresponding usernames and the 3 latest hours and the usernames using nsmallest() and nlargest()

In [55]:
earliest = df[lambda x: (x['daytime'] == 'morning')].nsmallest(3, ['hour', 'minute', 'second'])
print('Earliest\n-----------------------------------------\n',earliest[['hour', 'minute', 'second', 'daytime']])
latest = df[lambda x: (x['daytime'] == 'morning')].nlargest(3, ['hour', 'minute', 'second'])
print('\n\nLatest\n------------------------------------------\n',latest[['hour', 'minute', 'second', 'daytime']])

Earliest
-----------------------------------------
            hour  minute  second  daytime
user
alexander     8      16       3  morning
alexander     8      35       1  morning
alexander     9       2      24  morning


Latest
------------------------------------------
             hour  minute  second  daytime
user
konstantin    10      57      37  morning
konstantin    10      56      59  morning
maxim         10      56      55  morning

## • use the method describe() to get the basic statistics for the columns
◦ to find out what the most popular interval for visiting the page is, calculate the interquartile range for the hour by extracting values from the result of the describe() method and store it in the variable iqr

In [56]:
iqr = df.describe()['hour']['75%'] - df.describe()['hour']['25%']
print(iqr)

9.0