In [933]:
import pandas as pd

## • download and read the CSV file and make ID the index column

In [934]:
df = pd.read_csv('../data/auto.csv', index_col='ID')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

## • count the number of observations using the method count()

In [935]:
print(df.count().to_string())

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82

## • drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines

◦ between the two equal observations, you need to choose the last

In [936]:
df.drop_duplicates(subset=['CarNumber','Make_n_model', 'Fines'], keep='last', inplace=True)

◦ check the number of observations again

In [937]:
print(df.count().to_string())

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65

## • work with missing values

◦ check how many values are missing from each column

In [938]:
print(df.isna().sum().to_string())

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660

◦ drop all the columns with over 500 missing values using the argument thresh,
check how many missing values are in each column

In [939]:
df.dropna(axis=1, thresh=500, inplace=True)
print(df.isna().sum().to_string())

CarNumber        0
Make_n_model     0
Refund          12
Fines           60

◦ replace all the missing values in the Refund column with the previous value in that column for that cell, use the argument method, check how many values
are missing from each column

In [940]:

df['Refund'].fillna(inplace=True, method='ffill')
print(df.isna().sum().to_string())

CarNumber        0
Make_n_model     0
Refund           0
Fines           60

◦ replace all the missing values in the Fines column with the mean value of this column (exclude NA/null values when computing the mean value), check how
many values are missing from each column

In [941]:
df['Fines'].fillna(inplace=True, value=df['Fines'].dropna().mean())
print(df.isna().sum().to_string())

CarNumber       0
Make_n_model    0
Refund          0
Fines           0

## • split and parse the make and model

◦ use the method apply both for splitting and for extracting the values to the new columns Make and Model

In [942]:
df[['Make', 'Model']] = df['Make_n_model'].apply(lambda x: pd.Series(str(x).split(" ")))
df

        CarNumber    Make_n_model  Refund         Fines    Make    Model
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.000000    Ford    Focus
1     E432XX77RUS    Toyota Camry     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS      Ford Focus     1.0   2100.000000    Ford    Focus
3    X582HE161RUS      Ford Focus     2.0   2000.000000    Ford    Focus
5    92918M178RUS      Ford Focus     1.0   5700.000000    Ford    Focus
..            ...             ...     ...           ...     ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.000000    Ford    Focus
927  M0309X197RUS      Ford Focus     1.0  22300.000000    Ford    Focus
928  O673E8197RUS      Ford Focus     2.0    600.000000    Ford    Focus
929  8610T8154RUS      Ford Focus     1.0   2000.000000    Ford    Focus
930  H419XE197RUS  Toyota Corolla     2.0   8594.586466  Toyota  Corolla

[725 rows x 6 columns]

◦ drop the column Make_n_model

In [943]:
df.drop(['Make_n_model'], axis=1, inplace=True)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

◦ save the dataframe in the JSON file auto.json

In [944]:
df.to_json('auto.json', orient='records', double_precision=1)