In [19]:
import pandas as pd
import sqlite3

## • create a connection to the database using the library sqlite3

In [20]:
con = sqlite3.connect('../data/checking-logs.sqlite.sqlite')

## • create a new table datamart in the database by joining the tables pageviews and checker using only one query
◦ the table should have the following columns: uid, labname, first_commit_ts, first_view_ts
◦ first_commit_ts is just a new name of the column timestamp from the checker table, it shows the first commit from a particular lab and from a particular user
◦ first_view_ts is the first visit of a user to the table pageviews, timestamp when a user visited the newsfeed
◦ status = ’ready’ should still be a filter
◦ numTrials = 1 should still be a filter
◦ labnames should still be from the list: ’laba04’, ’laba04s’, ’laba05’, ’laba06’, ’laba06s’, ’project1’
◦ the table should contain only the users (uids with user_*) and not the admins
◦ first_commit_ts and first_view_ts should be parsed as datetime64[ns]

In [21]:
# query = """
#         SELECT uid, labname, timestamp AS first_commit_ts, datetime AS first_view_ts
#         FROM pageviews
#         WHERE uid IN (
#                      SELECT uid
#                      FROM checker
#                      WHERE status='ready' AND numTrials=1
#                      AND (labname='laba04' OR
#                           labname='laba04s' OR labname='laba05' OR labname='laba06' OR
#                           labname='laba06s' OR labname='project1'
#                           )
#                     );
# """
query = """
        SELECT checker.uid, labname, timestamp AS first_commit_ts, datetime AS first_view_ts
        FROM pageviews INNER JOIN checker;
"""

checkers = pd.io.sql.read_sql(query, con)
checkers

# pd.io.sql.read_sql("SELECT * FROM pageviews;", con)

DatabaseError: Execution failed on sql '
        SELECT uid, labname, timestamp AS first_commit_ts, datetime AS first_view_ts
        FROM pageviews INNER JOIN checker;
': ambiguous column name: uid

## • using Pandas methods, create two dataframes: test and control
◦ test should have the users that have the values in first_view_ts
◦ control should have the users that have missing values in first_view_ts
◦ replace the missing values in the control with the average first_view_ts of the test users, we will use this value for the future analysis
◦ save both tables into the database, you will use them in the next exercises

## • close the connection